<div [@routerTransition]>
    <app-page-header [heading]="'Tables'" [icon]="'fa-table'"> </app-page-header>
    <div class="row"></div>
    <div class="col col-xl-12 col-lg-12">
        <div class="card mb-12">
            <div class="card-header">
                Striped Rows
                <hr />

                <!-- <button (click)="simpleAlert()">Simple Alert</button>
                <button (click)="alertWithSuccess()">Alert with Success</button> -->

                <button (click)="QueryData()" class="btn btn-md btn-primary fa fa-search" type="button">
                    查詢
                </button>

                <button (click)="clearNew(); open(AddContent)" class="btn btn-success fa fa-user-plus">
                    新增
                </button>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th *ngFor="let columnName of displayedColumns">{{ columnName }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let UserData of Customers">
                            <td>{{ UserData.CustomerID }}</td>
                            <td>{{ UserData.CompanyName }}</td>
                            <td>{{ UserData.City }}</td>
                            <td>{{ UserData.Address }}</td>
                            <td>
                                <a
                                    class="btn btn-sm btn-primary fa fa-edit"
                                    href="javascript:void(0)"
                                    (click)="doEdit(UserData); open(AddContent)"
                                    role="button"
                                    >編輯</a
                                >
                                <a
                                    class="btn btn-sm btn-danger fa fa-trash"
                                    href="javascript:void(0)"
                                    (click)="doDelete(UserData)"
                                    role="button"
                                    >刪除</a
                                >
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!---page-->
            <ngb-pagination
                class="d-flex justify-content-center"
                [collectionSize]="collectionSize"
                [rotate]="true"
                [(page)]="currentPage"
                [boundaryLinks]="true"
                [pageSize]="pageSize"
                (pageChange)="onPageChange($event)"
            >
                <ng-template ngbPaginationPrevious>Prev</ng-template>
                <ng-template ngbPaginationNext>Next</ng-template>
            </ngb-pagination>

            <hr />

            <pre>
                <span class="d-flex justify-content-center">
                    頁數: {{ currentPage }} / {{totalPage}} 筆數: {{ collectionSize  }}  本頁筆數: {{ Customers.length }}</span>
            </pre>
        </div>
    </div>
    <!--新增Model-->
    <ng-template #AddContent let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">{{ modalTitle }}</h4>
            <button (click)="d('Cross click')" aria-label="Close" class="close" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <!--modal  body-->
            <div class="row">
                <div class="col-lg-12">
                    <form role="form">
                        <fieldset class="form-group">
                            <label>客戶ID</label>
                            <input
                                class="form-control"
                                placeHolder="客戶ID"
                                maxlength="10"
                                name="CustomerID"
                                [(ngModel)]="editRow.CustomerID"
                                [disabled]="isAddMode == false"
                                required
                            />
                        </fieldset>

                        <fieldset class="form-group">
                            <label>公司名稱</label>
                            <input
                                name="CompanyName"
                                [(ngModel)]="editRow.CompanyName"
                                class="form-control"
                                placeholder="公司名稱"
                                maxlength="10"
                            />
                        </fieldset>

                        <fieldset class="form-group">
                            <label>地址</label>
                            <input
                                type="text"
                                name="Address"
                                [(ngModel)]="editRow.Address"
                                class="form-control"
                                placeholder="地址"
                                maxlength="50"
                            />
                        </fieldset>

                        <div class="form-group">
                            <label>城市</label>
                            <select class="form-control" name="City" [(ngModel)]="editRow.City">
                                <option *ngFor="let city of Cities" [value]="city">{{ city }}</option>
                            </select>
                        </div>

                        <!-- <fieldset class="form-group">
                            <label for="exampleInputFile">File input</label>
                            <input class="form-control-file" id="exampleInputFile" type="file" />
                        </fieldset> -->

                        <fieldset class="form-group">
                            <label>Region</label>
                            <textarea name="Region" [(ngModel)]="editRow.Region" class="form-control" rows="3">
                            </textarea>
                        </fieldset>

                        <!--<div class="form-group">
                            <label>Checkboxes</label>
                            <div class="checkbox">
                                <label> <input type="checkbox" value="" /> Checkbox 1 </label>
                            </div>
                            <div class="checkbox">
                                <label> <input type="checkbox" value="" /> Checkbox 2 </label>
                            </div>
                            <div class="checkbox">
                                <label> <input type="checkbox" value="" /> Checkbox 3 </label>
                            </div>
                        </div>

                       <div class="form-group">
                            <label>Inline Checkboxes</label>
                            <label class="checkbox-inline"> <input type="checkbox" />1 </label>
                            <label class="checkbox-inline"> <input type="checkbox" />2 </label>
                            <label class="checkbox-inline"> <input type="checkbox" />3 </label>
                        </div>

                        <fieldset class="form-group">
                            <label>Radio Buttons</label>
                            <div class="radio">
                                <label>
                                    <input
                                        checked=""
                                        id="optionsRadios1"
                                        name="optionsRadios"
                                        type="radio"
                                        value="option1"
                                    />
                                    Radio 1
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input id="optionsRadios2" name="optionsRadios" type="radio" value="option2" />
                                    Radio 2
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input id="optionsRadios3" name="optionsRadios" type="radio" value="option3" />
                                    Radio 3
                                </label>
                            </div>
                        </fieldset>

                        <fieldset class="form-group">
                            <label>Inline Radio Buttons</label>
                            <label class="radio-inline">
                                <input
                                    checked=""
                                    id="optionsRadiosInline1"
                                    name="optionsRadiosInline"
                                    type="radio"
                                    value="option1"
                                />1
                            </label>
                            <label class="radio-inline">
                                <input
                                    id="optionsRadiosInline2"
                                    name="optionsRadiosInline"
                                    type="radio"
                                    value="option2"
                                />2
                            </label>
                            <label class="radio-inline">
                                <input
                                    id="optionsRadiosInline3"
                                    name="optionsRadiosInline"
                                    type="radio"
                                    value="option3"
                                />3
                            </label>
                        </fieldset>

                        <div class="form-group">
                            <label>Selects</label>
                            <select class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>

                        <fieldset class="form-group">
                            <label>Multiple Selects</label>
                            <select class="form-control" multiple="">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </fieldset> -->

                        <button class="btn btn-primary" type="button" (click)="doSubmit()">
                            送出
                        </button>
                        <button class="btn btn-secondary" type="reset" [hidden]="!isAddMode">清除</button>
                    </form>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <div class="modal-footer">
            <button (click)="c('Close click'); QueryData()" class="btn btn-secondary" type="button">關閉</button>
        </div>
    </ng-template>
</div>
