<div [@routerTransition]>
    <app-page-header [heading]="'Tables'" [icon]="'fa-table'"> </app-page-header>
    <div class="row"></div>
    <div class="col col-xl-12 col-lg-12">
        <div class="card mb-12">
            <div class="card-header">
                Striped Rows
                <hr />
                <button (click)="QueryData()" class="btn btn-md btn-primary" type="button">
                    查詢
                </button>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th *ngFor="let columnNmae of displayedColumns">{{ columnNmae }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let UserData of Customers">
                            <td>{{ UserData.CustomerID }}</td>
                            <td>{{ UserData.CompanyName }}</td>
                            <td>{{ UserData.City }}</td>
                            <td>{{ UserData.Address }}</td>
                            <td>
                                <a
                                    class="btn btn-sm btn-primary"
                                    href="javascript:void(0)"
                                    (click)="doEdit(UserData)"
                                    role="button"
                                    >編輯</a
                                >
                                <a class="btn btn-sm btn-danger" href="javascript:void(0)" role="button">刪除</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!---page-->
            <ngb-pagination
                class="d-flex justify-content-center"
                [collectionSize]="collectionSize"
                [rotate]="true"
                [(page)]="currentPage"
                [boundaryLinks]="true"
                [pageSize]="pageSize"
                (pageChange)="onPageChange($event)"
            >
                <ng-template ngbPaginationPrevious>Prev</ng-template>
                <ng-template ngbPaginationNext>Next</ng-template>
            </ngb-pagination>

            <hr />

            <pre>
                <span class="d-flex justify-content-center">
                    頁數: {{ currentPage }} / {{totalPage}} 筆數: {{ collectionSize  }}  本頁筆數: {{ Customers.length }}</span>
            </pre>
        </div>
    </div>
</div>
