<div class="form-group">
    <div class="input-group datepicker-input">
        <input
            #d="ngbDatepicker"
            [(ngModel)]="defaultDate"
            class="form-control"
            name="defaultDate"
            ngbDatepicker
            placeholder="yyyy-mm-dd"
            (change)="onChangDate()"
            (ngModelChange)="onChangDate($event)"
        />
        <button (click)="d.toggle()" class="input-group-addon" type="button">
            <span class="fa fa-calendar"></span>
        </button>
    </div>
</div>
